<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aardvark.Base" version="5.1.25" targetFramework="net481" />
  <package id="Aardvark.Base.FSharp" version="5.1.25" targetFramework="net481" />
  <package id="Aardvark.Base.IO" version="5.1.25" targetFramework="net481" />
  <package id="Aardvark.Base.Telemetry" version="5.1.25" targetFramework="net481" />
  <package id="Aardvark.Base.Tensors" version="5.1.25" targetFramework="net481" />
  <package id="Aardvark.Base.TypeProviders" version="4.5.15" targetFramework="net481" />
  <package id="Aardvark.Data.Durable" version="0.2.21" targetFramework="net481" />
  <package id="Aardvark.Data.Durable.Codec" version="0.2.21" targetFramework="net481" />
  <package id="Aardvark.Data.Points.Base" version="5.1.22" targetFramework="net481" />
  <package id="Aardvark.Geometry.PointTree" version="5.1.22" targetFramework="net481" />
  <package id="DevILSharp" version="0.2.9" targetFramework="net481" />
  <package id="FSharp.Core" version="5.0.0" targetFramework="net481" />
  <package id="FSharp.Data.Adaptive" version="1.2.0" targetFramework="net481" />
  <package id="FsPickler" version="5.3.2" targetFramework="net481" />
  <package id="HelixToolkit.Wpf" version="2.24.0" targetFramework="net481" />
  <package id="LASzip" version="0.7.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net481" />
  <package id="SixLabors.ImageSharp" version="1.0.2" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net481" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Reflection.Emit.Lightweight" version="4.6.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="1.8.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net481" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="Uncodium.SimpleStore" version="3.0.8" targetFramework="net481" />
  <package id="Unofficial.laszip.netstandard" version="2.2.1" targetFramework="net481" />
</packages>